<% 
# File: index.html.erb
# Purpouse: It's the page thats redirects the user and instructs on what page he should go
# License: GPL v3
# Group 10 Tecprog
# FGA - Universidade de Brasília - Campus Gama
%>

<div class = "container">
	<h2> Olá, para executar o parser de empresas inidoneas acesse localhost:3000/parser/cei</h2>
	<h2> Olá, para executar o parser de pagamentos do governo acesse localhost:3000/parser/payment</h2>
</div>