<% 
# File: _back_button.html.erb
# Purpouse: provides a back button for the statistics views
# License: GPL v3
# Group 10 Tecprog
# FGA - Universidade de Brasília - Campus Gama
%>

<div class = "back_button">
	<%= link_to(statistics_path) do %>
	  <i class="fa fa-arrow-circle-left fa-3x"></i>
	<% end %>
	<br><br>
</div>