<% 
# File: _sanction_by_state.html.erb
# Purpouse: Render the graphic 'sanction by state'. It's called by the sanction_by_state view
# License: GPL v3
# Group 10 Tecprog
# FGA - Universidade de Brasília - Campus Gama
%>

<%= high_chart("all_years_list", @chart) %>
  <h3 align = "center"><%= @titulo %></h3> 
<div id="sanjana" style="height: 200px"></div>
