<% 
# File: 404.html.erb
# Purpouse: provides the error 404 page
# License: GPL v3
# Group 10 Tecprog
# FGA - Universidade de Brasília - Campus Gama
%>

<div class = "container">

  <div class="jumbotron">

    <h1>404</h1>
    <p>A url nao foi encontrada no servidor.</p>
    
  </div>

</div>